#home .textos {
    width: 80%;
    background-color: goldenrod;
    color: black;
    margin: 0 auto;
}

#home .textos p {
    color: black;
}

.textos {
    display: flex;
    flex-direction: row;
    padding: 10px;
} 

.textos p {
    color: brown;
    display: flex;
}
